data/.DS_Store
data/cifar-10-python.tar.gz
data/news_train_set.csv
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
models/.DS_Store
models/news_classification_model/config.json
models/news_classification_model/model.safetensors
models/news_classification_model/special_tokens_map.json
models/news_classification_model/tokenizer_config.json
models/news_classification_model/tokenizer.json
models/news_classification_model/vocab.txt
